
.primary, .secondary {
	position: absolute;
	-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
-webkit-transition: -webkit-transform 0.3s;
				transition: transform 0.3s;
}

.primary {
		top: 0;
		left: 0;
		z-index: 1;
}

.primary:hover {
		-webkit-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
}

.secondary:hover {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
